/* ----reset--- */

body,
nav,
header,
footer,
div,
span,
a,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
dt,
section,
select,
option,
input,
img,
textarea {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

li {
    list-style: none;
}

a,
textarea,
input,
option,
select {
    outline: none;
    text-decoration: none;
    /* color: black; */
}

a {
    display: inline-block;
}

img {
    vertical-align: bottom;
    object-fit: cover;
    object-position: center;
    /* font-size: 0; */
}

table,
tr,
td,
th {
    border-spacing: 0;
    /* box-sizing: border-box; */
}


/* -------------------------滚动条----------------- */


/*滚动条*/

html,
.ql-scrollbar {
    overflow-y: auto;
    overflow-x: auto;
    height: 229px;
    scrollbar-arrow-color: #f7f7f7;
    /*三角箭头的颜色*/
    scrollbar-face-color: #e6e6e6;
    /*立体滚动条的颜色（包括箭头部分的背景色）*/
    scrollbar-3dlight-color: #ffffff;
    /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #ffffff;
    /*滚动条的高亮颜色（左阴影？）*/
    scrollbar-shadow-color: #ffffff;
    /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #ffffff;
    /*立体滚动条外阴影的颜色*/
    scrollbar-track-color: #f7f7f7;
    /*立体滚动条背景颜色*/
    scrollbar-base-color: #ffffff36;
    /*滚动条的基色*/
}


/*----------------------chrome滚动条-----------*/

::-webkit-scrollbar-track-piece {
    border-right: 1px #efefef solid;
    border-left: 1px #efefef solid;
    background-color: #f7f7f7;
}

 ::-webkit-scrollbar {
    width: 0px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(88, 86, 86);
    -webkit-border-radius: 4px;
}


/* -----------------------------------------浮动清除------------- */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/* 单行超出以省略号隐藏 */

.row {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.wrap {
    width: 80vw;
    margin: 0 auto;
}